.footer
	background: $black
	padding: 75px 0
	text-align: center
	margin-top: 70px
	&__nav
		margin-top: 48px
		margin-bottom: 45px
		ul
			font-size: 0
			text-align: center
			li
				display: inline-block
				padding: 0 27px
				a
					font-size: 20px
					color: $white
					font-family: $R-B
	&__copyright
		font-family: $R-B
		text-align: center
		font-size: 12px
		color: $white
		text-transform: uppercase
		letter-spacing: 0.3em
		margin-bottom: 50px
	&__up
		width: 51px
		height: 51px
		display: inline-block
		background: url('../images/up-icon.png') no-repeat
		cursor: pointer
		+transition(0.3s ease-in-out)
		&:hover
			opacity: 0.7