.header
	height: 80px
	background: $white
	&--inside
		padding-bottom: 2px
		border-bottom: 3px solid $black
	&__logo
		float: left
		position: relative
		top: 22px
	nav
		float: right
		ul
			font-size: 0
			li
				display: inline-block
				font-size: 20px
				margin-left: 57px
				&:first-child
					margin-left: 20px
				a
					line-height: 80px
					display: block
					color: $black