// main widget block
.c-widget
	background: $bg4
	padding: 30px 40px
	box-sizing: border-box
	margin-top: -5px
	&--margin
		margin-top: 40px
		.c-widget__title
			margin-bottom: 29px
	&__title
		font-family: $R-B
		font-size: 20px
		color: $black
		text-transform: uppercase
		padding-bottom: 18px
		border-bottom: 3px solid $black
		margin-bottom: 37px
		letter-spacing: 0.1em
	&__block
		font-size: 0px
		border-bottom: 1px solid $border1
		padding-bottom: 8px
		margin-bottom: 27px
		&:last-child
			margin-bottom: 0px
	&__name, &__date
		display: inline-block
		vertical-align: top
		width: 50%
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		letter-spacing: 0.1em
	&__name
		font-size: 14px
		font-family: $R-SB
		color: $black
		text-align: left
	&__date
		font-family: $R-L
		font-size: 14px
		color: $color3
		text-align: right
	&__text
		font-size: 14px
		color: $color1
		line-height: 20px
		margin: 13px 0 5px
	&__link
		text-align: right
		a
			font-size: 12px
			color: $black
			text-decoration: underline
	&__button
		margin-top: 39px
		margin-bottom: 10px
		a
			display:  block
			box-sizing: border-box
			width: 100%
			text-align: center
			font-size: 16px
			font-family: $R-M
			color: $black
			padding: 10px
			border: 2px solid $black
			border-radius: 5px

	// blog posts
	&__post-block
		font-size: 0px
		border-bottom: 1px solid $border1
		padding-bottom: 24px
		margin-bottom: 24px
		&:last-child
			margin-bottom: 10px
	&__post-img
		display: inline-block
		vertical-align: top
		width: 30%
		img
			width: 100%
	&__post-title
		display: inline-block
		vertical-align: top
		width: 70%
		display: inline-block
		font-family: $R-EB
		font-size: 18px
		color: $black
		text-transform: uppercase
		padding-left: 15px
		padding-top: 2px
		box-sizing: border-box
		line-height: 24px
		letter-spacing: 0.05em
	// sites block
	&__site-block
		font-size: 0px
		border-bottom: 1px solid $border1
		padding-bottom: 20px
		margin-bottom: 10px
		padding-top: 9px
		&:last-child
			margin-bottom: 10px
	&__site-img
		@extend .inline-block
		width: 50%
		height: 28px
		margin-top: 8px
		img
			max-height: 100%
	&__site-link
		@extend .inline-block
		width: 50%
		text-align: right
		a
			display: inline-block
			box-sizing: border-box
			font-family: $R-M
			font-size: 16px
			color: $color4
			border: 2px solid $color4
			min-width: 120px
			padding: 10px
			border-radius: 5px
			text-align: center