@import 'base/reset'
@import 'base/mixins'
@import 'base/fonts'
@import 'base/variables'

body
	background: $white
	font-family: $R-R
	font-size: 14px
	color: $text-color
	position: relative
	width: 100%
html, body
	height: 100%
main
	display: block
footer
	box-sizing: border-box
a
	text-decoration: none
	+transition(0.3s ease-in-out)
	&:hover
		opacity: 0.7
img
	max-width: 100%
input[type="submit"]
	+transition(0.3s ease-in-out)
.inline-block
	display: inline-block
	vertical-align: top

@import 'layout/grid'
@import 'layout/header'
@import 'layout/footer'
@import 'layout/sidebar'
@import 'layout/widget'
@import 'pages/home'
@import 'pages/advice'
@import 'pages/contacts'
@import 'pages/stories'
@import 'pages/reviews'
@import 'pages/site'
@import 'pages/about'
@import 'pages/stories-det'