html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  outline: none;
}

html, body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.svg#RalewayRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot");
  src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype"), url("../fonts/Raleway/RalewayLight/RalewayLight.svg#RalewayLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot");
  src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff"), url("../fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype"), url("../fonts/Raleway/RalewayMedium/RalewayMedium.svg#RalewayMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype"), url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.svg#RalewaySemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot");
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype"), url("../fonts/Raleway/RalewayBold/RalewayBold.svg#RalewayBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.svg#RalewayExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #ffffff;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 14px;
  color: #000;
  position: relative;
  width: 100%;
}

html, body {
  height: 100%;
}

main {
  display: block;
}

footer {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

input[type="submit"] {
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.inline-block, .c-widget__site-img, .c-widget__site-link, .c-reviews__user, .c-reviews__criterions, .c-reviews__c-text, .c-reviews__c-bar, .c-reviews__c-value, .c-site__info, .c-site__rate, .c-site__user, .c-site__criterions, .c-site__c-text, .c-site__c-bar, .c-site__c-value, .range-slider__title, .range-slider__value, .site-r-title__left, .site-r-title__right, .stor-det__share, .stor-det__like, .two-col__item, .like-module__up, .like-module__down, .c-buttons__item {
  display: inline-block;
  vertical-align: top;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 280px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  min-width: 280px;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container-full-width {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  float: none;
  clear: both;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

[class^="col-"] {
  float: left;
  margin: 0 1.66%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 5.01333%;
}

.col-2 {
  width: 13.34667%;
}

.col-3 {
  width: 21.68%;
}

.col-4 {
  width: 30.01333%;
}

.col-5 {
  width: 38.34667%;
}

.col-6 {
  width: 46.68%;
}

.col-7 {
  width: 55.01333%;
}

.col-8 {
  width: 63.34667%;
}

.col-9 {
  width: 71.68%;
}

.col-10 {
  width: 80.01333%;
}

.col-11 {
  width: 88.34667%;
}

.col-12 {
  width: 96.68%;
}

.l-offset-1 {
  margin-left: 9.99333%;
}

.l-offset-2 {
  margin-left: 18.32667%;
}

.l-offset-3 {
  margin-left: 26.66%;
}

.r-offset-1 {
  margin-right: 9.99333%;
}

.r-offset-2 {
  margin-right: 18.32667%;
}

.r-offset-3 {
  margin-right: 26.66%;
}

.header {
  height: 80px;
  background: #ffffff;
}

.header--inside {
  padding-bottom: 2px;
  border-bottom: 3px solid #000000;
}

.header__logo {
  float: left;
  position: relative;
  top: 22px;
}

.header nav {
  float: right;
}

.header nav ul {
  font-size: 0;
}

.header nav ul li {
  display: inline-block;
  font-size: 20px;
  margin-left: 57px;
}

.header nav ul li:first-child {
  margin-left: 20px;
}

.header nav ul li a {
  line-height: 80px;
  display: block;
  color: #000000;
}

.footer {
  background: #000000;
  padding: 75px 0;
  text-align: center;
  margin-top: 70px;
}

.footer__nav {
  margin-top: 48px;
  margin-bottom: 45px;
}

.footer__nav ul {
  font-size: 0;
  text-align: center;
}

.footer__nav ul li {
  display: inline-block;
  padding: 0 27px;
}

.footer__nav ul li a {
  font-size: 20px;
  color: #ffffff;
  font-family: "RalewayBold", arial, verdana;
}

.footer__copyright {
  font-family: "RalewayBold", arial, verdana;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 50px;
}

.footer__up {
  width: 51px;
  height: 51px;
  display: inline-block;
  background: url("../images/up-icon.png") no-repeat;
  cursor: pointer;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__up:hover {
  opacity: 0.7;
}

.c-sidebar .c-widget__block:last-child {
  margin-bottom: 9px;
}

.c-widget {
  background: #f2f2f2;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -5px;
}

.c-widget--margin {
  margin-top: 40px;
}

.c-widget--margin .c-widget__title {
  margin-bottom: 29px;
}

.c-widget__title {
  font-family: "RalewayBold", arial, verdana;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 18px;
  border-bottom: 3px solid #000000;
  margin-bottom: 37px;
  letter-spacing: 0.1em;
}

.c-widget__block {
  font-size: 0px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 8px;
  margin-bottom: 27px;
}

.c-widget__block:last-child {
  margin-bottom: 0px;
}

.c-widget__name, .c-widget__date {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  letter-spacing: 0.1em;
}

.c-widget__name {
  font-size: 14px;
  font-family: "RalewaySemiBold", arial, verdana;
  color: #000000;
  text-align: left;
}

.c-widget__date {
  font-family: "RalewayLight", arial, verdana;
  font-size: 14px;
  color: #828282;
  text-align: right;
}

.c-widget__text {
  font-size: 14px;
  color: #81858d;
  line-height: 20px;
  margin: 13px 0 5px;
}

.c-widget__link {
  text-align: right;
}

.c-widget__link a {
  font-size: 12px;
  color: #000000;
  text-decoration: underline;
}

.c-widget__button {
  margin-top: 39px;
  margin-bottom: 10px;
}

.c-widget__button a {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "RalewayMedium", arial, verdana;
  color: #000000;
  padding: 10px;
  border: 2px solid #000000;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.c-widget__post-block {
  font-size: 0px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.c-widget__post-block:last-child {
  margin-bottom: 10px;
}

.c-widget__post-img {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.c-widget__post-img img {
  width: 100%;
}

.c-widget__post-title {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  display: inline-block;
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.c-widget__site-block {
  font-size: 0px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-top: 9px;
}

.c-widget__site-block:last-child {
  margin-bottom: 10px;
}

.c-widget__site-img {
  width: 50%;
  height: 28px;
  margin-top: 8px;
}

.c-widget__site-img img {
  max-height: 100%;
}

.c-widget__site-link {
  width: 50%;
  text-align: right;
}

.c-widget__site-link a {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  color: #7d7d7d;
  border: 2px solid #7d7d7d;
  min-width: 120px;
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
}

.home-banner {
  height: 540px;
  background: url("../images/content/home-banner-bg.jpg") no-repeat center center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 3px;
  position: relative;
}

.home-banner:after {
  content: '';
  position: absolute;
  display: block;
  left: 0px;
  bottom: -7px;
  width: 100%;
  height: 3px;
  background: #000000;
}

.home-banner__block {
  display: table;
  width: 100%;
  height: 540px;
}

.home-banner__text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home-banner h1 {
  font-family: "RalewayBold", arial, verdana;
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 26px;
}

.home-banner__subtitle {
  display: inline-block;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 24px;
  color: #ffffff;
  line-height: 36px;
  max-width: 760px;
}

.c-block {
  margin-top: 63px;
}

.c-block--bottom {
  margin-top: 74px;
}

.c-block--bottom2 {
  margin-top: 60px;
}

.c-block--det .c-block__title {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 275px;
}

.c-block--det .c-block__title:before {
  top: 20px;
}

.c-block--det .c-block__title h2 {
  line-height: 60px;
  margin-top: -10px;
}

.c-block--det .c-block__date {
  position: absolute;
  top: -7px;
  right: 0px;
  display: block;
  background: #fcc066;
  color: #ffffff;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 11px 10px;
  border-left: 33px solid #ffffff;
}

.c-block--det .c-block__date b {
  display: block;
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 30px;
  margin-bottom: 3px;
}

.c-block__title {
  position: relative;
}

.c-block__title:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -3px;
  height: 6px;
  background: #000000;
  width: 100%;
}

.c-block h1, .c-block h2 {
  display: inline-block;
  background: #ffffff;
  padding-right: 30px;
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
}

.c-block h1 a, .c-block h2 a {
  color: #000000;
}

.c-block__subtitle {
  font-family: "RalewayBold", arial, verdana;
  font-size: 18px;
  color: #828282;
  letter-spacing: 0.1em;
  margin-top: 19px;
  text-transform: uppercase;
}

.c-block__tags {
  background: url("../images/tag-icon.png") no-repeat 1px 3px;
  padding-left: 28px;
}

.c-block__tags a {
  font-size: 16px;
  font-family: "RalewayBold", arial, verdana;
  color: #ef4136;
  margin-right: 15px;
  letter-spacing: 0em;
}

.c-block__img {
  margin: 38px 0 40px;
}

.c-block__img img {
  width: 100%;
}

.c-block__text {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.c-block__text p {
  margin-bottom: 8px;
}

.c-block__text p:last-child {
  margin-bottom: 0px;
}

.site-list {
  margin-top: 77px;
}

.site-list .row:last-child .site-list__item {
  margin-bottom: 0px;
}

.site-list__item {
  background: #f5f5f5;
  border: 1px solid #c9c9c9;
  padding: 38px 0;
  font-size: 0;
  margin-bottom: 40px;
  position: relative;
  height: auto;
}

.site-list__item--first .site-list__place {
  background: #ef4136;
}

.site-list__item--first .rate-radial__over {
  stroke: #ef4136;
}

.site-list__item--first .rate-radial__text {
  color: #ef4136;
}

.site-list__item--second .site-list__place {
  background: #f8d92f;
}

.site-list__item--second .rate-radial__over {
  stroke: #f4d52a;
}

.site-list__item--second .rate-radial__text {
  color: #f8d92f;
}

.site-list__item--last {
  background: #ffffff;
}

.site-list__item--last .site-list__item-bb {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 28px;
  right: 15px;
}

.site-list__item--last .site-list__item-bb:after {
  content: '-';
  display: block;
  font-size: 60px;
  color: #c9c9c9;
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  margin-top: -10px;
}

.site-list__item--last .site-list__right {
  padding-right: 120px;
}

.site-list__item--last .rate-radial__circle {
  stroke: #ffffff;
}

.site-list__item--hidden {
  height: 120px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}

.site-list__item--hidden .site-list__item-bb:after {
  content: '+';
  padding-top: 0px;
  margin-top: 0px;
}

.site-list__item--hidden .site-list__left:after {
  height: 40px;
}

.site-list__item--hidden .site-list__img {
  margin: 0;
  margin-top: 5px;
}

.site-list__item--hidden .site-list__place {
  display: none;
}

.site-list__item--hidden .site-list__num, .site-list__item--hidden .site-list__rate {
  opacity: 0;
}

.site-list__item--hidden .site-list__right {
  padding-right: 120px;
  position: relative;
}

.site-list__item--hidden .site-list__right-over {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  height: 70px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.59) 34%, white 58%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.59) 34%, white 58%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(34%, rgba(255, 255, 255, 0.59)), color-stop(58%, white), to(white));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.59) 34%, white 58%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.59) 34%, white 58%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.site-list__left {
  display: inline-block;
  width: 22.5%;
  text-align: center;
  position: relative;
  vertical-align: top;
}

.site-list__left:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  height: 97%;
  max-height: 120px;
  width: 1px;
  background: #c9c9c9;
}

.site-list__right {
  display: inline-block;
  width: 77.5%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 39px;
  vertical-align: top;
  margin-top: 3px;
}

.site-list__place {
  display: inline-block;
  font-family: "RalewayBold", arial, verdana;
  font-size: 20px;
  color: #ffffff;
  min-width: 120px;
  padding: 5px 10px;
  background: #c9c9c9;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.site-list__img {
  margin: 22px 0;
}

.site-list__img img {
  max-width: 90%;
}

.site-list__num {
  font-size: 16px;
  color: #81858d;
}

.site-list__text {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
  margin-bottom: 78px;
}

.rate-radial {
  width: 61px;
  height: 61px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 16px;
}

.rate-radial svg {
  width: 115px;
  height: 115px;
  -webkit-transform: rotate(-91deg);
     -moz-transform: rotate(-91deg);
      -ms-transform: rotate(-91deg);
       -o-transform: rotate(-91deg);
          transform: rotate(-91deg);
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin-left: -27px;
  margin-top: -27px;
}

.rate-radial__circle {
  stroke: #f5f5f5;
  stroke-width: 10px;
  fill: none;
}

.rate-radial__over {
  stroke: #b5b5b5;
  stroke-width: 10px;
  fill: none;
  -webkit-transition: stroke-dashoffset 1s linear;
  -o-transition: stroke-dashoffset 1s linear;
  -moz-transition: stroke-dashoffset 1s linear;
  transition: stroke-dashoffset 1s linear;
}

.rate-radial__text {
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 20px;
  color: #c9c9c9;
}

.rate-radial--full {
  width: 160px;
  height: 160px;
  margin: 0px auto;
}

.rate-radial--full svg {
  width: 300px;
  height: 300px;
  margin-left: -70px;
  margin-top: -70px;
}

.rate-radial--full .rate-radial__circle {
  stroke: #ffffff;
  stroke-width: 13px;
}

.rate-radial--full .rate-radial__over {
  stroke-width: 13px;
}

.rate-radial--full .rate-radial__text {
  font-size: 40px;
  letter-spacing: 0.1em;
}

.rate-radial--first .site-list__place {
  background: #ef4136;
}

.rate-radial--first .rate-radial__over {
  stroke: #ef4136;
}

.rate-radial--first .rate-radial__text {
  color: #ef4136;
}

.rate-radial--second .site-list__place {
  background: #f8d92f;
}

.rate-radial--second .rate-radial__over {
  stroke: #f4d52a;
}

.rate-radial--second .rate-radial__text {
  color: #f8d92f;
}

.site-buttons {
  font-size: 0;
  text-align: left;
  position: absolute;
  bottom: 38px;
}

.site-buttons__link {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #3e3e3e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  color: #3e3e3e;
  font-size: 16px;
  font-family: "RalewayMedium", arial, verdana;
  margin-right: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.site-buttons__link--more {
  border-color: #ef4136;
  background: #ef4136;
  color: #ffffff;
}

.c-blog {
  margin-top: 40px;
}

.c-blog__img {
  margin-bottom: 21px;
  overflow: hidden;
  position: relative;
}

.c-blog__img img {
  display: block;
  width: 100%;
}

.c-blog__img-over {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(239, 65, 54, 0.6);
  opacity: 0;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-blog__title {
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0.05em;
}

.c-blog__date {
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 12px;
  color: #828282;
  line-height: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.c-blog__desk {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.c-blog a:hover .c-blog__img-over {
  opacity: 1;
}

.bottom-block {
  margin-top: 50px;
}

.bottom-block__img img {
  width: 100%;
}

.bottom-block__text {
  margin-top: 2px;
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.bottom-block__text p {
  margin-bottom: 8px;
}

.bottom-block__text p:last-child {
  margin-bottom: 0px;
}

.c-advice {
  margin-top: 56px;
  font-size: 0;
}

.c-advice__item {
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
  margin-bottom: 48px;
}

.c-advice__item:nth-child(2n+1) {
  margin-right: 2.5%;
}

.c-advice__item:nth-child(2n) {
  margin-left: 2.5%;
}

.c-advice__img {
  margin-bottom: 21px;
  overflow: hidden;
  position: relative;
}

.c-advice__img img {
  display: block;
  width: 100%;
}

.c-advice__img-over {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(239, 65, 54, 0.6);
  opacity: 0;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-advice__title {
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0.05em;
}

.c-advice__date {
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 12px;
  color: #828282;
  line-height: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.c-advice__desk {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.c-advice a:hover .c-advice__img-over {
  opacity: 1;
}

.c-advice__pagination {
  text-align: center;
}

.c-advice__pagination a {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  color: #7d7d7d;
  border: 2px solid #7d7d7d;
  min-width: 160px;
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.c-contacts {
  margin-top: 40px;
}

.c-contacts__text {
  color: #81858d;
  font-size: 16px;
  line-height: 24px;
}

.c-contacts__text p {
  margin-bottom: 5px;
}

.c-contacts__text p:last-child {
  margin-bottom: 0px;
}

.c-contacts__form {
  margin-top: 65px;
}

.c-contacts__form-group {
  margin-bottom: 46px;
}

.c-contacts__form-group label {
  display: block;
  font-family: "RalewayBold", arial, verdana;
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.c-contacts__form-group input[type=text], .c-contacts__form-group input[type=email] {
  height: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  background: #e1e1e1;
  font-size: 16px;
  color: #81858d;
  border: 0px;
  width: 100%;
  outline: none;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-contacts__form-group textarea {
  min-height: 420px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background: #e1e1e1;
  font-size: 16px;
  color: #81858d;
  border: 0px;
  width: 100%;
  max-width: 100%;
  outline: none;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-contacts__form-group input[type=text]:focus, .c-contacts__form-group input[type=email]:focus, .c-contacts__form-group textarea:focus {
  background: #f2f2f2;
}

.c-contacts input[type=submit] {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  color: #7d7d7d;
  border: 2px solid #7d7d7d;
  min-width: 160px;
  padding: 9px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  margin-top: -10px;
}

.c-stories {
  margin-top: 57px;
}

.c-stories__item, .c-stories__sizer {
  width: 47.3%;
}

.c-stories__gutter {
  width: 5.4%;
}

.c-stories__item {
  float: left;
  margin-bottom: 40px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 19px;
}

.c-stories__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.c-stories__img img {
  display: block;
  width: 100%;
}

.c-stories__date {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  background: rgba(251, 176, 64, 0.8);
  color: #ffffff;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 11px 10px;
}

.c-stories__date b {
  display: block;
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 30px;
  margin-bottom: 3px;
}

.c-stories__over {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(239, 65, 54, 0.6);
  opacity: 0;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-stories__toplink:hover .c-stories__over {
  opacity: 1;
}

.c-stories__title {
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 18px 0 18px;
}

.c-stories__text {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.c-stories__link {
  font-family: "RalewayBold", arial, verdana;
  font-size: 14px;
  color: #000000;
  margin-top: 16px;
}

.c-stories__link a {
  color: #000000;
}

.c-pagination {
  text-align: center;
  margin-top: 20px;
}

.c-pagination a {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  color: #7d7d7d;
  border: 2px solid #7d7d7d;
  min-width: 160px;
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.c-reviews {
  margin-top: 57px;
}

.c-reviews__block-title {
  text-align: center;
  font-family: "RalewayBold", arial, verdana;
  font-size: 18px;
  color: #81858d;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}

.c-reviews__item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c9c9c9;
  padding: 19px 38px 19px 38px;
  background: #f5fff9;
  margin-bottom: 40px;
}

.c-reviews__item--pad {
  padding-bottom: 48px;
}

.c-reviews__item--negative {
  background: #fff9f9;
}

.c-reviews__item--negative .criterion-bar__inside {
  background: #ef4136;
}

.c-reviews__item--negative .c-reviews__site a {
  color: #ef4136;
  border-color: #ef4136;
}

.c-reviews__item--negative .c-reviews__site a:before {
  background: url("../images/internet-icon-red.png") no-repeat;
}

.c-reviews__top-block {
  padding-bottom: 15px;
  border-bottom: 1px solid #c9c9c9;
  font-size: 0;
}

.c-reviews__user {
  width: 17%;
}

.c-reviews__user img {
  display: block;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.c-reviews__user b {
  display: block;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 12px;
  color: #81858d;
  line-height: 24px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 3px;
}

.c-reviews__user i {
  display: block;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 10px;
  color: #81858d;
  text-align: center;
}

.c-reviews__criterions {
  width: 83%;
  font-size: 0px;
  padding-top: 5px;
}

.c-reviews__c-item {
  font-size: 0;
  margin-bottom: 10px;
}

.c-reviews__c-text {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 10px;
  color: #81858d;
  padding-left: 39px;
}

.c-reviews__c-bar {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 54%;
  margin-top: 1px;
}

.c-reviews__c-value {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 6%;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 10px;
  color: #81858d;
  padding-left: 8px;
}

.c-reviews__site {
  padding: 18px 0 11px;
}

.c-reviews__site a {
  display: inline-block;
  font-size: 14px;
  color: #2ecc71;
  border-bottom: 1px solid #2ecc71;
  margin-left: 20px;
  position: relative;
}

.c-reviews__site a:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -20px;
  width: 12px;
  height: 12px;
  background: url("../images/internet-icon-green.png") no-repeat;
}

.c-reviews__text {
  font-size: 14px;
  color: #81858d;
  line-height: 21px;
}

.criterion-bar {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 8px;
  background: #c9c9c9;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
}

.criterion-bar__inside {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 8px;
  background: #2ecc71;
}

.c-site {
  margin-top: 35px;
}

.c-site__basic {
  font-size: 0;
}

.c-site__info {
  width: 60%;
}

.c-site__info img {
  display: block;
  max-width: 80%;
  margin: 15px 0 35px;
}

.c-site__rate {
  width: 40%;
  text-align: right;
}

.c-site__info-text {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.c-site__rate-body {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.c-site__link {
  margin-top: 42px;
}

.c-site__link a {
  display: block;
  background: #ef4136;
  color: #ffffff;
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  text-align: center;
  padding: 12px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.c-site__reviews {
  margin-top: 41px;
}

.c-site__review-item {
  border: 1px solid #c9c9c9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 38px 28px;
  margin-bottom: 40px;
}

.c-site__review-item--negative {
  background: #fff9f9;
}

.c-site__review-item--negative .criterion-bar__inside {
  background: #ef4136;
}

.c-site__review-item--negative .c-reviews__site a {
  color: #ef4136;
  border-color: #ef4136;
}

.c-site__review-item--negative .c-reviews__site a:before {
  background: url("../images/internet-icon-red.png") no-repeat;
}

.c-site__top-block {
  padding-bottom: 14px;
  border-bottom: 1px solid #c9c9c9;
  font-size: 0;
}

.c-site__user {
  width: 12%;
}

.c-site__user img {
  display: block;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.c-site__user b {
  display: block;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 12px;
  color: #81858d;
  line-height: 24px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 3px;
}

.c-site__user i {
  display: block;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 10px;
  color: #81858d;
  text-align: center;
}

.c-site__criterions {
  width: 88%;
  font-size: 0px;
  padding-top: 5px;
}

.c-site__c-item {
  font-size: 0;
  margin-bottom: 10px;
}

.c-site__c-text {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 26.5%;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 10px;
  color: #81858d;
  padding-left: 39px;
}

.c-site__c-bar {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 68.5%;
  margin-top: 1px;
}

.c-site__c-value {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 5%;
  font-family: "RalewayRegular", arial, verdana;
  font-size: 10px;
  color: #81858d;
  padding-left: 20px;
}

.c-site__site {
  padding: 18px 0 11px;
}

.c-site__site a {
  display: inline-block;
  font-size: 14px;
  color: #2ecc71;
  border-bottom: 1px solid #2ecc71;
  margin-left: 20px;
  position: relative;
}

.c-site__site a:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -20px;
  width: 12px;
  height: 12px;
  background: url("../images/internet-icon-green.png") no-repeat;
}

.c-site__text {
  font-size: 14px;
  color: #81858d;
  line-height: 21px;
  margin-top: 24px;
}

.review-form {
  margin-top: 64px;
}

.review-form__group {
  margin-bottom: 46px;
  position: relative;
}

.review-form__group--last {
  margin-bottom: 0px;
}

.review-form__group img {
  position: absolute;
  top: -10px;
  right: 0px;
  height: 40px;
}

.review-form__group label {
  display: block;
  font-family: "RalewayBold", arial, verdana;
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.review-form__group input[type=text], .review-form__group input[type=email] {
  height: 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  background: #e1e1e1;
  font-size: 16px;
  color: #81858d;
  border: 0px;
  width: 100%;
  outline: none;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.review-form__group textarea {
  min-height: 420px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background: #e1e1e1;
  font-size: 16px;
  color: #81858d;
  border: 0px;
  width: 100%;
  max-width: 100%;
  outline: none;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.review-form__group textarea.textarea-stories {
  min-height: 430px;
}

.review-form__group input[type=text]:focus, .review-form__group input[type=email]:focus, .review-form__group textarea:focus {
  background: #f2f2f2;
}

.review-form__group input[type=submit] {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  color: #7d7d7d;
  border: 2px solid #7d7d7d;
  padding: 9px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  margin-top: -10px;
  width: 100%;
}

.review-form__group input[type=submit].input-stories {
  border: 2px solid #000000;
  color: #000000;
  height: 56px;
}

.range-slider {
  font-size: 0;
}

.range-slider__title {
  width: 35.5%;
  font-family: "RalewayBold", arial, verdana;
  font-size: 16px;
  color: #000000;
  margin-bottom: 43px;
}

.range-slider__title--last {
  margin-bottom: 0px;
}

.range-slider__value {
  width: 64.5%;
  padding-top: 3px;
}

.site-r-title {
  font-size: 0;
  margin-bottom: 20px;
}

.site-r-title__left h2, .site-r-title__right h2 {
  font-size: 18px;
  font-family: "RalewayBold", arial, verdana;
  font-size: 18px;
  color: #81858d;
}

.site-r-title__right {
  float: right;
  text-align: right;
}

.site-r-title__right a {
  font-family: "RalewayMedium", arial, verdana;
  font-size: 16px;
  color: #ef4136;
  border-bottom: 1px solid #ef4136;
}

.c-about {
  margin-top: 40px;
}

.c-about__text {
  color: #81858d;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}

.c-about__text p {
  margin-bottom: 7px;
}

.c-about__text p:last-child {
  margin-bottom: 0px;
}

.c-about__text h2, .c-about__text h3 {
  font-size: 18px;
  font-family: "RalewayBold", arial, verdana;
  letter-spacing: 0.05em;
  margin: 20px 0;
  color: #81858d;
}

.c-about__text ul {
  margin: 20px 0;
  font-size: 15px;
}

.c-about__text ul li {
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
}

.c-about__text ul li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  width: 3px;
  height: 3px;
  background: #000000;
}

.c-about__text b {
  color: #ef4136;
}

.stor-det {
  margin-top: 27px;
}

.stor-det__preview {
  margin-bottom: 33px;
}

.stor-det__preview img {
  display: block;
  width: 100%;
}

.stor-det__prev-text {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 6px solid #ef4136;
  padding-left: 22px;
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
  margin-bottom: 13px;
  letter-spacing: 0em;
}

.stor-det h2 {
  font-family: "RalewayExtraBold", arial, verdana;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 21px 0;
  letter-spacing: 0.05em;
}

.stor-det p {
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
}

.stor-det u {
  color: #ef4136;
}

.stor-det ul {
  padding-left: 15px;
}

.stor-det ul li {
  font-size: 16px;
  color: #81858d;
  position: relative;
  margin-bottom: 24px;
  padding-left: 5px;
  color: #81858d;
}

.stor-det ul li:before {
  content: '';
  background: #000000;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 6px;
  left: -13px;
}

.stor-det ul.digits {
  list-style-type: none;
  position: relative;
}

.stor-det ul.digits li {
  counter-increment: list;
}

.stor-det ul.digits li:before {
  display: none;
}

.stor-det ul.digits li:after {
  content: counter(list) ".";
  position: absolute;
  top: 0px;
  left: -1em;
  text-align: right;
  color: #000000;
  text-align: left;
}

.stor-det__after-text {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 6px solid #000000;
  padding-left: 22px;
  font-size: 16px;
  color: #81858d;
  line-height: 24px;
  margin-top: 35px;
  letter-spacing: 0em;
}

.stor-det__info {
  font-size: 0;
  padding: 14px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-top: 50px;
}

.stor-det__share {
  width: 60%;
}

.stor-det__like {
  width: 40%;
  text-align: right;
}

.two-col {
  font-size: 0;
  margin-top: 21px;
  margin-bottom: 33px;
}

.two-col--without {
  margin-top: 3px;
  margin-bottom: 0px;
}

.two-col__item {
  width: 47.5%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.two-col__item--border {
  border: 1px solid #000000;
  padding: 26px 39px;
}

.two-col__item:nth-child(2n) {
  margin-left: 2.5%;
}

.two-col__item:nth-child(2n+1) {
  margin-right: 2.5%;
}

.two-col__item h4 {
  font-family: "RalewayMedium", arial, verdana;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.two-col__item .quote {
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  margin-top: 23px;
  margin-bottom: 11px;
  position: relative;
}

.two-col__item .quote p {
  position: relative;
  z-index: 10;
}

.two-col__item .quote:before {
  content: '';
  position: absolute;
  top: -8px;
  left: -9px;
  width: 17px;
  height: 17px;
  background: url("../images/quote-icon.png") no-repeat;
  z-index: 5;
}

.two-col__item .quote:after {
  content: '';
  position: absolute;
  right: -2px;
  bottom: -6px;
  width: 17px;
  height: 17px;
  background: url("../images/quote-icon.png") no-repeat;
  z-index: 5;
}

.like-module {
  margin-top: 15px;
}

.like-module__up, .like-module__down {
  font-family: "RalewaySemiBold", arial, verdana;
  font-size: 16px;
  padding-left: 35px;
  position: relative;
  height: 20px;
}

.like-module__up a, .like-module__down a {
  color: #000000;
}

.like-module__up b, .like-module__down b {
  display: inline-block;
  width: 23px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.like-module__up b {
  background: url("../images/like-icon.png") no-repeat;
}

.like-module__down b {
  background: url("../images/like-icon.png") no-repeat;
  background-position: -23px 0;
}

.pluso {
  margin-left: -5px !important;
}

.pluso-more {
  display: none !important;
}

.pluso-wrap a {
  margin-right: 14px !important;
}

.c-buttons {
  margin-top: 40px;
  font-size: 0;
}

.c-buttons__item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RalewayMedium", arial, verdana;
  color: #7d7d7d;
  font-size: 16px;
  padding: 20px 0;
  border: 2px solid #7d7d7d;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-right: 40px;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.c-buttons__item--active {
  background: #ef4136;
  border-color: #ef4136;
  color: #ffffff;
}

.c-buttons__item--active:hover {
  opacity: 1;
}

.tab {
  display: none;
}

.tab--active {
  display: block;
}
