.c-about
	margin-top: 40px
	&__text
		color: $color1
		font-size: 16px
		line-height: 24px
		letter-spacing: 0em
		p
			margin-bottom: 7px
			&:last-child
				margin-bottom: 0px
		h2, h3
			font-size: 18px
			font-family: $R-B
			letter-spacing: 0.05em
			margin: 20px 0
			color: $color1
		ul
			margin: 20px 0
			font-size: 15px
			li
				padding-left: 30px
				margin-bottom: 5px
				position: relative
				&:before
					content: ''
					position: absolute
					top: 10px
					left: 15px
					width: 3px
					height: 3px
					background: $black
		b
			color: $color6