.c-advice
	margin-top: 56px
	font-size: 0
	&__item
		display: inline-block
		width: 47.5%
		vertical-align: top
		margin-bottom: 48px
		&:nth-child(2n+1)
			margin-right: 2.5%
		&:nth-child(2n)
			margin-left: 2.5%
	&__img
		margin-bottom: 21px
		overflow: hidden
		position: relative
		img
			display: block
			width: 100%
	&__img-over
		position: absolute
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		background: rgba(239, 65, 54, 0.6)
		opacity: 0
		+transition(0.3s ease-in-out)
	&__title
		font-family: $R-EB
		font-size: 20px
		color: $black
		line-height: 24px
		margin-bottom: 16px
		letter-spacing: 0.05em
	&__date
		font-family: $R-EB
		font-size: 12px
		color: $color3
		line-height: 14px
		margin-bottom: 20px
		text-transform: uppercase
		letter-spacing: 0.05em
	&__desk
		font-size: 16px
		color: $color1
		line-height: 24px
	a
		&:hover
			.c-advice__img-over
				opacity: 1

	&__pagination
		text-align: center
		a
			display: inline-block
			box-sizing: border-box
			font-family: $R-M
			font-size: 16px
			color: $color4
			border: 2px solid $color4
			min-width: 160px
			padding: 10px
			border-radius: 5px