.c-contacts
	margin-top: 40px
	&__text
		color: $color1
		font-size: 16px
		line-height: 24px
		p
			margin-bottom: 5px
			&:last-child
				margin-bottom: 0px
	&__form
		margin-top: 65px
	&__form-group
		margin-bottom: 46px
		label
			display: block
			font-family: $R-B
			font-size: 14px
			color: $black
			margin-bottom: 20px
			text-transform: uppercase
		input[type=text], input[type=email]
			height: 60px
			box-sizing: border-box
			padding: 0 20px
			background: $input-bg
			font-size: 16px
			color: $color1
			border: 0px
			width: 100%
			outline: none
			+transition(0.3s ease-in-out)
		textarea
			min-height: 420px
			box-sizing: border-box
			padding: 20px
			background: $input-bg
			font-size: 16px
			color: $color1
			border: 0px
			width: 100%
			max-width: 100%
			outline: none
			+transition(0.3s ease-in-out)
		input[type=text], input[type=email], textarea
			&:focus
				background: $input-bg-active
	input[type=submit]
		display: inline-block
		box-sizing: border-box
		font-family: $R-M
		font-size: 16px
		color: $color4
		border: 2px solid $color4
		min-width: 160px
		padding: 9px
		border-radius: 5px
		text-align: center
		background: transparent
		cursor: pointer
		margin-top: -10px