// home top banner
.home-banner
	height: 540px
	background: url('../images/content/home-banner-bg.jpg') no-repeat center center
	background-size: cover
	border-bottom: 4px solid $white
	margin-bottom: 3px
	position: relative
	&:after
		content: ''
		position: absolute
		display: block
		left: 0px
		bottom: -7px
		width: 100%
		height: 3px
		background: $black
	&__block
		display: table
		width: 100%
		height: 540px
	&__text
		display: table-cell
		vertical-align: middle
		text-align: center
	h1
		font-family: $R-B
		font-size: 50px
		color: $white
		text-transform: uppercase
		margin-top: 5px
		margin-bottom: 26px
	&__subtitle
		display: inline-block
		font-family: $R-R
		font-size: 24px
		color: $white
		line-height: 36px
		max-width: 760px
// main section content block
.c-block
	margin-top: 63px
	&--bottom
		margin-top: 74px
	&--bottom2
		margin-top: 60px
	&--det
		.c-block__title
			box-sizing: border-box
			padding-right: 275px
			&:before
				top: 20px
			h2
				line-height: 60px
				margin-top: -10px
		.c-block__date
			position: absolute
			top: -7px
			right: 0px
			display: block
			background: $bg8
			color: $white
			font-size: 8px
			text-transform: uppercase
			text-align: center
			padding: 9px 11px 10px
			border-left: 33px solid $white
			b
				display: block
				font-family: $R-EB
				font-size: 30px
				margin-bottom: 3px
	&__title
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0px
			top: 50%
			margin-top: -3px
			height: 6px
			background: $black
			width: 100%
	h1, h2
		display: inline-block
		background: $white
		padding-right: 30px
		font-family: $R-EB
		font-size: 40px
		color: $black
		text-transform: uppercase
		position: relative
		letter-spacing: 0.1em
		a
			color: $black
	&__subtitle
		font-family: $R-B
		font-size: 18px
		color: $subtitle-color
		letter-spacing: 0.1em
		margin-top: 19px
		text-transform: uppercase
	&__tags
		background: url('../images/tag-icon.png') no-repeat 1px 3px
		padding-left: 28px
		a
			font-size: 16px
			font-family: $R-B
			color: $color6
			margin-right: 15px
			letter-spacing: 0em
	&__img
		margin: 38px 0 40px
		img
			width: 100%
	&__text
		font-size: 16px
		color: $color1
		line-height: 24px
		p
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0px
// list of sites
.site-list
	margin-top: 77px
	.row
		&:last-child
			.site-list__item
				margin-bottom: 0px
	&__item
		background: $bg1
		border: 1px solid $border1
		padding: 38px 0
		font-size: 0
		margin-bottom: 40px
		position: relative
		height: auto
		&--first
			.site-list__place
				background: $first-place
			.rate-radial__over
				stroke: $stroke-first
			.rate-radial__text
				color: $first-place
		&--second
			.site-list__place
				background: $second-place
			.rate-radial__over
				stroke: $stroke-second
			.rate-radial__text
				color: $second-place
		&--last
			background: $white
			.site-list__item-bb
				width: 70px
				height: 70px
				position: absolute
				top: 28px
				right: 15px
				&:after
					content: '-'
					display: block
					font-size: 60px
					color: #c9c9c9
					width: 70px
					height: 70px
					text-align: center
					cursor: pointer
					padding-top: 5px
					margin-top: -10px
			.site-list__right
				padding-right: 120px
			.rate-radial__circle
				stroke: $white
		&--hidden
			height: 120px
			overflow: hidden
			box-sizing: border-box
			background: $white
			.site-list__item-bb
				&:after
					content: '+'
					padding-top: 0px
					margin-top: 0px
			.site-list__left:after
				height: 40px
			.site-list__img
				margin: 0
				margin-top: 5px
			.site-list__place
				display: none
			.site-list__num, .site-list__rate
				opacity: 0
			.site-list__right
				padding-right: 120px
				position: relative
			.site-list__right-over
				position: absolute
				top: 5px
				left: 0px
				width: 100%
				height: 70px
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.59) 34%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.59) 34%,rgba(255,255,255,1) 58%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.59) 34%,rgba(255,255,255,1) 58%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

	&__left
		display: inline-block
		width: 22.5%
		text-align: center
		position: relative
		vertical-align: top
		&:after
			content: ''
			position: absolute
			top: 0px
			right: 0px
			height: 97%
			max-height: 120px
			width: 1px
			background: $bg2
	&__right
		display: inline-block
		width: 77.5%
		box-sizing: border-box
		padding: 0 39px
		vertical-align: top
		margin-top: 3px
	&__place
		display: inline-block
		font-family: $R-B
		font-size: 20px
		color: $white
		min-width: 120px
		padding: 5px 10px
		background: $bg2
		border-radius: 5px
		box-sizing: border-box
	&__img
		margin: 22px 0
		img
			max-width: 90%
	&__num
		font-size: 16px
		color: $color1
	&__text
		font-size: 16px
		color: $color1
		line-height: 24px
		margin-bottom: 78px

// rating circle
.rate-radial
	width: 61px
	height: 61px
	margin: 0 auto
	overflow: hidden
	position: relative
	margin-top: 16px
	svg
		width: 115px
		height: 115px
		transform: rotate(-91deg)
		transform-origin: 50% 50%
		margin-left: -27px
		margin-top: -27px
	&__circle
		stroke: $bg1
		stroke-width: 10px
		fill: none
	&__over
		stroke: $stroke-def
		stroke-width: 10px
		fill: none
		transition: stroke-dashoffset 1s linear
	&__text
		position: absolute
		top: 49%
		left: 50%
		transform: translate(-50%, -50%)
		font-family: $R-EB
		font-size: 20px
		color: $color2
	&--full
		width: 160px
		height: 160px
		margin: 0px auto
		svg
			width: 300px
			height: 300px
			margin-left: -70px
			margin-top: -70px
		.rate-radial__circle
			stroke: $white
			stroke-width: 13px
		.rate-radial__over
			stroke-width: 13px
		.rate-radial__text
			font-size: 40px
			letter-spacing: 0.1em
	&--first
		.site-list__place
			background: $first-place
		.rate-radial__over
			stroke: $stroke-first
		.rate-radial__text
			color: $first-place
	&--second
		.site-list__place
			background: $second-place
		.rate-radial__over
			stroke: $stroke-second
		.rate-radial__text
			color: $second-place
// buttons inside site
.site-buttons
	font-size: 0
	text-align: left
	position: absolute
	bottom: 38px
	&__link
		display: inline-block
		min-width: 200px
		height: 40px
		line-height: 36px
		text-align: center
		border: 2px solid $bg3
		border-radius: 5px
		color: $bg3
		font-size: 16px
		font-family: $R-M
		margin-right: 40px
		box-sizing: border-box
		&--more
			border-color: $first-place
			background: $first-place
			color: $white

// main blog block
.c-blog
	margin-top: 40px
	&__img
		margin-bottom: 21px
		overflow: hidden
		position: relative
		img
			display: block
			width: 100%
	&__img-over
		position: absolute
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		background: rgba(239, 65, 54, 0.6)
		opacity: 0
		+transition(0.3s ease-in-out)
	&__title
		font-family: $R-EB
		font-size: 20px
		color: $black
		line-height: 24px
		margin-bottom: 16px
		letter-spacing: 0.05em
	&__date
		font-family: $R-EB
		font-size: 12px
		color: $color3
		line-height: 14px
		margin-bottom: 20px
		text-transform: uppercase
		letter-spacing: 0.05em
	&__desk
		font-size: 16px
		color: $color1
		line-height: 24px
	a
		&:hover
			.c-blog__img-over
				opacity: 1

// main bottom block
.bottom-block
	margin-top: 50px
	&__img
		img
			width: 100%
	&__text
		margin-top: 2px
		font-size: 16px
		color: $color1
		line-height: 24px
		p
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0px