.c-reviews
	margin-top: 57px
	&__block-title
		text-align: center
		font-family: $R-B
		font-size: 18px
		color: $color1
		margin-bottom: 30px
		letter-spacing: 0.05em
	&__item
		box-sizing: border-box
		border: 1px solid $border1
		padding: 19px 38px 19px 38px
		background: $bg5
		margin-bottom: 40px
		&--pad
			padding-bottom: 48px
		&--negative
			background: $bg6
			.criterion-bar__inside
				background: $bar-2
			.c-reviews__site
				a
					color: $color6
					border-color: $color6
					&:before
						background: url('../images/internet-icon-red.png') no-repeat
	&__top-block
		padding-bottom: 15px
		border-bottom: 1px solid $border1
		font-size: 0
	&__user
		@extend .inline-block
		width: 17%
		img
			display: block
			max-width: 60px
			width: 100%
			margin: 0 auto
			border-radius: 5px

		b
			display: block
			font-family: $R-R
			font-size: 12px
			color: $color1
			line-height: 24px
			text-align: center
			margin-top: 4px
			margin-bottom: 3px
		i
			display: block
			font-family: $R-R
			font-size: 10px
			color: $color1
			text-align: center
	// criterions
	&__criterions
		@extend .inline-block
		width: 83%
		font-size: 0px
		padding-top: 5px
	&__c-item
		font-size: 0
		margin-bottom: 10px
	&__c-text
		box-sizing: border-box
		@extend .inline-block
		width: 40%
		font-family: $R-R
		font-size: 10px
		color: $color1
		padding-left: 39px
	&__c-bar
		box-sizing: border-box
		@extend .inline-block
		width: 54%
		margin-top: 1px
	&__c-value
		box-sizing: border-box
		@extend .inline-block
		width: 6%
		font-family: $R-R
		font-size: 10px
		color: $color1
		padding-left: 8px
	&__site
		padding: 18px 0 11px
		a
			display: inline-block
			font-size: 14px
			color: $color5
			border-bottom: 1px solid $color5
			margin-left: 20px
			position: relative
			&:before
				content: ''
				position: absolute
				top: 1px
				left: -20px
				width: 12px
				height: 12px
				background: url('../images/internet-icon-green.png') no-repeat
	&__text
		font-size: 14px
		color: $color1
		line-height: 21px
.criterion-bar
	display: block
	box-sizing: border-box
	width: 100%
	height: 8px
	background: $bg2
	border-radius: 10px
	overflow: hidden
	&__inside
		display: block
		box-sizing: border-box
		height: 8px
		background: $bar-1