.c-site
	margin-top: 35px
	&__basic
		font-size: 0
	&__info
		@extend .inline-block
		width: 60%
		img
			display: block
			max-width: 80%
			margin: 15px 0 35px
	&__rate
		@extend .inline-block
		width: 40%
		text-align: right
	&__info-text
		font-size: 16px
		color: $color1
		line-height: 24px
	&__rate-body
		display: inline-block
		width: 100%
		max-width: 200px
	&__link
		margin-top: 42px
		a
			display: block
			background: $bg7
			color: $white
			font-family: $R-M
			font-size: 16px
			text-align: center
			padding: 12px
			border-radius: 5px
	// review
	&__reviews
		margin-top: 41px
	&__review-item
		border: 1px solid $border1
		box-sizing: border-box
		padding: 20px 38px 28px
		margin-bottom: 40px
		&--negative
			background: $bg6
			.criterion-bar__inside
				background: $bar-2
			.c-reviews__site
				a
					color: $color6
					border-color: $color6
					&:before
						background: url('../images/internet-icon-red.png') no-repeat
	&__top-block
		padding-bottom: 14px
		border-bottom: 1px solid $border1
		font-size: 0
	&__user
		@extend .inline-block
		width: 12%
		img
			display: block
			max-width: 60px
			width: 100%
			margin: 0 auto
			border-radius: 5px

		b
			display: block
			font-family: $R-R
			font-size: 12px
			color: $color1
			line-height: 24px
			text-align: center
			margin-top: 4px
			margin-bottom: 3px
		i
			display: block
			font-family: $R-R
			font-size: 10px
			color: $color1
			text-align: center
	// criterions
	&__criterions
		@extend .inline-block
		width: 88%
		font-size: 0px
		padding-top: 5px
	&__c-item
		font-size: 0
		margin-bottom: 10px
	&__c-text
		box-sizing: border-box
		@extend .inline-block
		width: 26.5%
		font-family: $R-R
		font-size: 10px
		color: $color1
		padding-left: 39px
	&__c-bar
		box-sizing: border-box
		@extend .inline-block
		width: 68.5%
		margin-top: 1px
	&__c-value
		box-sizing: border-box
		@extend .inline-block
		width: 5%
		font-family: $R-R
		font-size: 10px
		color: $color1
		padding-left: 20px
	&__site
		padding: 18px 0 11px
		a
			display: inline-block
			font-size: 14px
			color: $color5
			border-bottom: 1px solid $color5
			margin-left: 20px
			position: relative
			&:before
				content: ''
				position: absolute
				top: 1px
				left: -20px
				width: 12px
				height: 12px
				background: url('../images/internet-icon-green.png') no-repeat
	&__text
		font-size: 14px
		color: $color1
		line-height: 21px
		margin-top: 24px
// review form
.review-form
	margin-top: 64px
	&__group
		margin-bottom: 46px
		position: relative
		&--last
			margin-bottom: 0px
		img
			position: absolute
			top: -10px
			right: 0px
			height: 40px
		label
			display: block
			font-family: $R-B
			font-size: 14px
			color: $black
			margin-bottom: 20px
			text-transform: uppercase
			letter-spacing: 0.1em
		input[type=text], input[type=email]
			height: 60px
			box-sizing: border-box
			padding: 0 20px
			background: $input-bg
			font-size: 16px
			color: $color1
			border: 0px
			width: 100%
			outline: none
			+transition(0.3s ease-in-out)
		textarea
			min-height: 420px
			box-sizing: border-box
			padding: 20px
			background: $input-bg
			font-size: 16px
			color: $color1
			border: 0px
			width: 100%
			max-width: 100%
			outline: none
			+transition(0.3s ease-in-out)
			&.textarea-stories
				min-height: 430px
		input[type=text], input[type=email], textarea
			&:focus
				background: $input-bg-active
		input[type=submit]
			display: block
			box-sizing: border-box
			font-family: $R-M
			font-size: 16px
			color: $color4
			border: 2px solid $color4
			padding: 9px
			border-radius: 5px
			text-align: center
			background: transparent
			cursor: pointer
			margin-top: -10px
			width: 100%
			&.input-stories
				border: 2px solid $black
				color: $black
				height: 56px
// range slider
.range-slider
	font-size: 0
	&__title
		@extend .inline-block
		width: 35.5%
		font-family: $R-B
		font-size: 16px
		color: $black
		margin-bottom: 43px
		&--last
			margin-bottom: 0px
	&__value
		@extend .inline-block
		width: 64.5%
		padding-top: 3px

.site-r-title
	font-size: 0
	margin-bottom: 20px
	&__left, &__right
		@extend .inline-block
		h2
			font-size: 18px
			font-family: $R-B
			font-size: 18px
			color: $color1
	&__right
		float: right
		text-align: right
		a
			font-family: $R-M
			font-size: 16px
			color: $color6
			border-bottom: 1px solid $color6