.stor-det
	margin-top: 27px
	&__preview
		margin-bottom: 33px
		img
			display: block
			width: 100%
	&__prev-text
		box-sizing: border-box
		border-left: 6px solid $bg7
		padding-left: 22px
		font-size: 16px
		color: $color1
		line-height: 24px
		margin-bottom: 13px
		letter-spacing: 0em
	h2
		font-family: $R-EB
		font-size: 20px
		color: $black
		text-transform: uppercase
		margin: 21px 0
		letter-spacing: 0.05em
	p
		font-size: 16px
		color: $color1
		line-height: 24px
	u
		color: $color6
	ul
		padding-left: 15px
		li
			font-size: 16px
			color: $color1
			position: relative
			margin-bottom: 24px
			padding-left: 5px
			color: $color1
			&:before
				content: ''
				background: $black
				width: 3px
				height: 3px
				position: absolute
				top: 6px
				left: -13px
		&.digits
			list-style-type: none
			position: relative
			li
				counter-increment: list
				&:before
					display: none
				&:after
					content: counter(list) "."
					position: absolute
					top: 0px
					left: -1em
					text-align: right
					color: $black
					text-align: left
	&__after-text
		box-sizing: border-box
		border-left: 6px solid $black
		padding-left: 22px
		font-size: 16px
		color: $color1
		line-height: 24px
		margin-top: 35px
		letter-spacing: 0em
	// bottom info
	&__info
		font-size: 0
		padding: 14px 0
		border-top: 1px solid $border2
		border-bottom: 1px solid $border2
		margin-top: 50px
	&__share
		@extend .inline-block
		width: 60%
	&__like
		@extend .inline-block
		width: 40%
		text-align: right
.two-col
	font-size: 0
	margin-top: 21px
	margin-bottom: 33px
	&--without
		margin-top: 3px
		margin-bottom: 0px
	&__item
		@extend .inline-block
		width: 47.5%
		box-sizing: border-box
		&--border
			border: 1px solid $black
			padding: 26px 39px
		&:nth-child(2n)
			margin-left: 2.5%
		&:nth-child(2n+1)
			margin-right: 2.5%
		h4
			font-family: $R-M
			font-size: 20px
			color: $black
			line-height: 30px
			text-transform: uppercase
			letter-spacing: 0.05em
		.quote
			font-style: italic
			font-size: 16px
			line-height: 24px
			margin-top: 23px
			margin-bottom: 11px
			position: relative
			p
				position: relative
				z-index: 10
			&:before
				content: ''
				position: absolute
				top: -8px
				left: -9px
				width: 17px
				height: 17px
				background: url('../images/quote-icon.png') no-repeat
				z-index: 5
			&:after
				content: ''
				position: absolute
				right: -2px
				bottom: -6px
				width: 17px
				height: 17px
				background: url('../images/quote-icon.png') no-repeat
				z-index: 5
// like module
.like-module
	margin-top: 15px
	&__up, &__down
		@extend .inline-block
		font-family: $R-SB
		font-size: 16px
		padding-left: 35px
		position: relative
		height: 20px
		a
			color: $black
		b
			display: inline-block
			width: 23px
			height: 20px
			vertical-align: middle
			margin-right: 8px
	&__up
		b
			background: url('../images/like-icon.png') no-repeat
	&__down
		b
			background: url('../images/like-icon.png') no-repeat
			background-position: -23px 0
// pluso share
.pluso
	margin-left: -5px !important
.pluso-more
	display: none !important
.pluso-wrap
	a
		margin-right: 14px !important
// buttons
.c-buttons
	margin-top: 40px
	font-size: 0
	&__item
		@extend .inline-block
		box-sizing: border-box
		font-family: $R-M
		color: $color4
		font-size: 16px
		padding: 20px 0
		border: 2px solid $border3
		border-radius: 5px
		margin-right: 40px
		text-align: center
		width: 100%
		max-width: 200px
		&--active
			background: $color6
			border-color: $color6
			color: $white
			&:hover
				opacity: 1
// tabs
.tab
	display: none
	&--active
		display: block