.c-stories
	margin-top: 57px
	&__item, &__sizer
		width: 47.3%
	&__gutter
		width: 5.4%
	&__item
		float: left
		margin-bottom: 40px
		border-bottom: 1px solid $border1
		padding-bottom: 19px
	&__img
		width: 100%
		position: relative
		overflow: hidden
		img
			display: block
			width: 100%
	&__date
		position: absolute
		top: 0px
		right: 0px
		display: block
		background: rgba(251, 176, 64, 0.8)
		color: $white
		font-size: 8px
		text-transform: uppercase
		text-align: center
		padding: 9px 11px 10px
		b
			display: block
			font-family: $R-EB
			font-size: 30px
			margin-bottom: 3px
	&__over
		position: absolute
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		background: rgba(239, 65, 54, 0.6)
		opacity: 0
		+transition(0.3s ease-in-out)
	&__toplink
		&:hover
			.c-stories__over
				opacity: 1
	&__title
		font-family: $R-EB
		font-size: 20px
		color: $black
		line-height: 30px
		letter-spacing: 0.05em
		text-transform: uppercase
		padding: 18px 0 18px
	&__text
		font-size: 16px
		color: $color1
		line-height: 24px
	&__link
		font-family: $R-B
		font-size: 14px
		color: $black
		margin-top: 16px
		a
			color: $black
.c-pagination
	text-align: center
	margin-top: 20px
	a
		display: inline-block
		box-sizing: border-box
		font-family: $R-M
		font-size: 16px
		color: $color4
		border: 2px solid $color4
		min-width: 160px
		padding: 10px
		border-radius: 5px